header{
    display: flex;
    padding: 10px;
    background-color: purple;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    
}
a{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    color: aliceblue;
}
p{
    display: block;
    width: 500px;
    height: 120px;
    background-color: brown;
}