html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #501D2E;
    overflow-x: hidden;
}

.bg-video {
    position: absolute;
    left: 0;
    top: -5.5%;
    background: cover no-repeat center;
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw;
    display: block;
    z-index: -1;
    
}
.logo{
    width: 32%;
}

header{
    display: flex;
    padding: 10px 20px 5px 50px;
    background-color: #501D2E;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    
}
header h1{
    font-size: 42px;
}
header nav {
    
    padding-right: 80px;
    
}
header nav a{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 40px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}
header nav a:hover{
    color: orange;
    font-size: 22px;
    padding-left: 32px;
    padding-bottom: 2px;
}
div section a {
    color: aliceblue;
    font-style: italic;
    font-size: 42px;
    opacity: 0.8;
    position: absolute;
    left: 45.5%;
    top: 36vw;
}

.arrow{
    position: relative;
    left: 55px;
    top: 60px;
    width: 55px;
    height: 80px;
    z-index: 1;
}

.main-home-page{
    position: static;
    padding-left: 0px;
    padding-top: 56vw;
    min-height: 120vh;
    z-index: 1;
}

#resumo{
    display: block;
    position: static;
    width: auto;
    height: 250px;
    padding: 3% 25% 0.5% 25%;
    margin-top: -150px;

    font-size: 36px;
    background-color: #6F2539;
    color: aliceblue;
    text-align: center;

    border-top: 3px solid #2E101F;
    border-bottom: 3px solid #2E101F;

    overflow: auto;
}
.vineleft01{
    mix-blend-mode: multiply;
    image-rendering: crisp-edges;
    opacity: 0.6;
    width: 30%;
    margin-left: -5%;
    padding-bottom: 30px;
}
.grapes{
    position: absolute;
    mix-blend-mode: multiply;
    image-rendering: crisp-edges;
    opacity: 0.6;
    top: inherit;
    width: 20%;
    margin-left: 15%;
    z-index: -1;

}
.vineleft02{
    position: absolute;
    mix-blend-mode: multiply;
    image-rendering: crisp-edges;
    opacity: 0.6;
    width: 30%;
    overflow: hidden;
    margin-left: 47%;
    padding-bottom: 30px;
}
.textoapresentacao {
    font-size: 24px;
    background-color: #6F2539;
    color: aliceblue;
    text-align: justify;
    

    line-height: 130%;

    border: 3px solid #2E101F;

    display: block;
    position: static;
    
    margin: 0;
    margin-left: 20px;
    margin-top: 120px;
    padding: 20px 30px 5px 30px;
    
    width: 50%;
    height: 700px;

    overflow: auto;
}

.fotoloja {
    position: absolute;
    display: inline;
    border: 3px solid #2E101F;
    right: -100px;
    margin-top: -28%;
    left: 50%;
    align-items: center;
    object-fit: cover;
    width: inherit;
    height: auto;
    z-index: -1;
}

.endingimg{
    position: static;
    mix-blend-mode: multiply;
    opacity: 0.4;
    bottom: 0;
    width: 100%;
    z-index: -2;
    overflow: hidden;
}


footer{
    background-color: #2E101F;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
footer #suporte li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    justify-content: right;   
    align-items: right; 
}