body{
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/Vinheria_placeholder_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        
}
header{
    display: flex;
    padding: 10px;
    background-color: #501D2E;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    
}
main{
    padding: 20px;
    min-height: 100vh;
    margin-bottom: 150px;
}
a{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    color: aliceblue;
}
p{
    display: block;
    width: 500px;
    height: 120px;
    background-color: brown;
}
footer{
    background-color: #501D2E;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    justify-content: right;   
    align-items: right; 
} 

#h1 {
    padding: 0px 0px 0px 580px;
} 

#h1_1 { 
    padding: 25px 0px 0px 580px;

}

#corpoPagina3 { 
    background-image: none;
    background-color: #d3bf87;
    overflow-x:hidden;
}

.textNos { 
    background-color: #d3bf87; 
    padding: 0px 0px 55px 440px;
    text-indent: 30px; 
    display: block;
    height: 0px;
}  

.textNos1 { 
    background-color: #d3bf87; 
    padding: 0px 0px 0px 440px;
    text-indent: 30px; 
    display: block;
} 

#producao {
    position: relative; 
    top: -385px;
    left: 125px;
    background-color: #ffff;
    height: 0px;
}

#localProducao { 
    position: relative; 
    top: -150px ; 
    left: 25px;
}

#Loja {
    width: 300px; 
    height: 250px;
    position: relative; 
    left: 1025px;
    top: -420px; 
}

#nssloja { 
    position: relative; 
    left: 1150px; 
    top: -720px;
}

#mapa{ 
    position: relative; 
    top: -350px;
}

#melhorVinho { 
    width: 245px; 
    height: 285px; 
    display: inline; 
    padding: 18px 0px 0px 300px;
} 

.Henriques { 
    background-color: #501D2E;  
    display: block;
    width: 1100px;
    height: 330px;
    margin-bottom: 50px;
    
}

.malhadinha-nova { 
    background-color: #501D2E;  
    display: block;
    width: 1100px;
    height: 330px;
} 

.mirabilis { 
    background-color: #501D2E;  
    display: block;
    width: 1100px;
    height: 330px;
    margin-bottom: 50px;
}

.SegMelhor { 
    width: 245px; 
    height: 285px;
    padding: 10px 0px 0px 300px ;
} 

.descricaoVinho1, .descricaoVinho2, .descricaoVinho3 {
    text-indent: 30px;
    position: relative; 
    top: -250px;
    margin-left: 550px;
    display: inline-block;
    background-color: #501D2E;
}

.descricaoVinho11, .descricaoVinho22 {
    text-indent: 30px;
    position: relative; 
    top: -325px; 
    left: 550px;
    display: inline-block;
    background-color: #501D2E; 
    margin-bottom: 10px;
} 

.descricaoVinho33{ 
    text-indent: 30px;
    position: relative; 
    top: -350px; 
    left: 550px;
    display: inline-block;
    background-color: #501D2E; 
    margin-bottom: 10px;
}

.descricaoVinho333 { 
    text-indent: 30px;
    position: relative; 
    top: -275px; 
    left: 45px;
    display: inline-block;
    background-color: #501D2E; 
    margin-bottom: 10px;
}

#nav { 
    position: relative; 
    bottom: -5px;
    padding-left: 650px;
} 

#paragrafo { 
    padding-left: 10px;
} 

#forms { 
    position: relative;
    top: -150px;
    margin: 0px 0px 0px 300px;
    width: 700px;
    height: 450px;
    border: solid 2px;
    display: block;
}

#nome {
    width: 400px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
} 

#opinioes {
    max-width: 550px;
    min-width: 549px;
    min-height: 250px;
    max-height: 300px;
    margin-left: 10px;
} 

#botaoEnviar {
    margin-left: 510px;
}

#Agnelo {
    width: 150px;
    height: 50px;
} 

#sobre {
    position: relative;
    left: -50px;
    bottom: -5px;
} 
